
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  background: url("/bg.jpg")  no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  overflow: auto;
}

.header-name {
  font-family: 'Raleway', sans-serif;
}

.profile {
  bottom: -45%;
  right: 20%;
  width: 50vmin;
}

.id-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 5rem;
  border-top-right-radius: 7rem;
  border-bottom-left-radius: 8rem;
  border-bottom-right-radius: 3.5rem;
}

.id-pic:hover{ 
  animation: idanim 10s infinite forwards;
  animation-timing-function: linear;
}

.caption {
  width: fit-content;
  overflow: hidden;
  padding-inline: 20px;
  overflow: hidden;
}

@keyframes idanim {
  0% {
    border-top-left-radius: 5rem;
    border-top-right-radius: 7rem;
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 3.5rem}
  16% {
    border-top-left-radius: 9rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem}
  32% {
    border-top-left-radius: 8.5rem;
    border-top-right-radius: 11rem;
    border-bottom-left-radius: 9rem;
    border-bottom-right-radius: 10rem}    
  50% {
    border-top-left-radius: 6rem;
    border-top-right-radius: 12rem;
    border-bottom-left-radius: 11rem;
    border-bottom-right-radius: 4rem}
  75% {
    border-top-left-radius: 8rem;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 6rem}
  100% {
    border-top-left-radius: 5rem;
    border-top-right-radius: 7rem;
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 3.5rem}
}



.categories {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;;
}

.categories > div {
  overflow: hidden;
}

.personal {
  position: absolute;
  visibility: hidden;
  filter: opacity(0);
  top: 0px;
  bottom: 45px;
  left: 0px;
  right: 0px;
  transition: filter 600ms;;
}

.personal > div {
  overflow: hidden;
}

.personal:hover {
  visibility: visible;
  filter: opacity(1);
}

.option {
  border-top: 1px solid grey;
}

.more-about {
  border-top: 1px dotted grey;
}


.option:hover > .categories {
  grid-template-rows: 1fr;
}

.more-about:hover + .personal {
  visibility: visible;
  filter: opacity(1);
}

.skill-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 0px;
}

.skill-logo {
  padding: 1px;
  margin: 10px;
  transition: transform 0.3s;
  max-width: 120px;
  max-height: 80px;
  object-fit: contain;
  position: relative;
  display: inline-block;
}

.skill-logo:hover {
  transform: scale(1.5);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  bottom: -10px;
  right: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding-top: 3px;
  padding-left: 8px;
  padding-Right: 8px;
  transition: opacity 700ms;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.icon {
  transition: transform 300ms;
}

.icon:hover {
  transform: scale(1.2);
}

.icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.icon .tooltiptext {
  visibility: hidden;
  opacity: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  transition: opacity 700ms;
  transition-delay: 700ms;
  top: 35px;
  /* Position the tooltip */
  position: absolute; 
}

.card {
  position: absolute;
  max-height: 100px;
  max-width: 75px;
  border: 1px solid rgba(128, 128, 128, 0.4); 
}

.urcard {
  transform: rotate(10deg) translate(0px, 0px);
  transition: transform 500ms;
}

.lrcard {
  transform: rotate(0deg) translate(0px, 0px);
  transition: transform 500ms;
}

.ulcard {
  transform: rotate(-10deg) translate(0px, 0px);
  transition: transform 500ms;
}

.llcard {
  transform: rotate(0deg) translate(0px, 0px);
  transition: transform 500ms;
}

.fanout:hover .urcard {
  transform: rotate(25deg) translate(20px, -10px);
  
}
.fanout:hover .lrcard {
  transform: rotate(60deg) translate(30px, -35px);
}
.fanout:hover .ulcard {
  transform: rotate(-25deg) translate(-20px, -10px);
}
.fanout:hover .llcard {
  transform: rotate(-60deg) translate(-30px, -35px);
}

.video{
  width: min(800px, 98%);
}